.top-wrapper {
    position: relative;
    & > * {
        margin-bottom: 10px;
    }
    .name {
        font-size: 40px;
        font-weight: 600;
    }
  
    .locate {
        display: flex;
        span {
            margin-right: 10px;
        }
    }
    .concat {
        display: flex;
        flex-wrap: wrap;

        .concat-item {
            display: flex;
            margin-bottom: 5px;
            img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
            margin-right: 20px;
        }
        a p{
            color: #61b9e7;
        }
    }
    .skill {
        display: flex;
        flex-wrap: wrap;
        & > * {
            margin-bottom: 10px;
        }
    }
    .color-picker {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        .color-item {
            width: 20px;
            height: 20px;
            border-radius: 4px;
            border: 1px solid #999;
            cursor: pointer;
            & + .color-item {
                margin-left: 10px;
            }
        }
    }
}
