$phone: "(max-width: 767px)";

.experience-wrapper {
    & > * {
        margin-bottom: 15px;
    }
    .company-item {
        &:not(:last-child) {
            border-bottom: 1px solid #ccc;
            margin-bottom: 15px;

        }
    }

    .company {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        @media screen and #{$phone} {
            flex-direction: column;
            .company-name {
                margin-bottom: 10px;
            }
        }
        .company-name {
            font-size: 20px;
            color: #ff9800;
        }
        .timegap {
            color: #aaa;
        }
    }


    .work {
        font-size: 18px;
        font-weight: 600;
        color: #666;
        padding-bottom: 20px;
          
    }
    .products {
        .product-item {
            margin-bottom: 20px;
            .product-name {
                font-size: 18px;
                margin-bottom: 10px;
                color: #00bcd4;
            }
            .dutys {
                list-style: none;
                .duty-name {
                    margin-bottom: 10px;
                }
                .duty {
                    padding-left: 20px;
                    position: relative;
                    color: #888;
                    margin-bottom: 10px;
                    line-height: 1.5;
                    &::before {
                        content: '';
                        position: absolute;
                        vertical-align: top;
                        left: 0;
                        width: 5px;
                        height: 5px;
                        background-color: #999;
                        border-radius: 50%;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                
            }
        }
    }
    .items {
        margin-bottom: 20px;
        .item-name {
            color: #37b24d;
            border-bottom: 1px solid #37b24d;
            padding-bottom: 10px;
            cursor: pointer;
        }
        .item-desc {
            margin: 10px auto;
            color: #999;
            font-size: 16px;
            line-height: 1.5;
            word-break: break-all;
        }
        & > * {
            margin-bottom: 10px;
        }
    }
    .educate {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-left: 20px;
        .schcool-name {
            font-size: 18px;
            font-weight: 600;
        }
        .educate-time {
            color: #999;
        }
    }
    .skill-stack {
        .skill-item {
            margin-bottom: 10px;
            padding-left: 30px;
            position: relative;
            color: rgb(31, 183, 230);
            line-height: 1.8;
            &::before  {
                content: '📑';
                position: absolute;
                left: 0;
                top: 0;
                // transform: translateY(-50%);
                width: 20px;
                height: 20px;
                // background-color: #999;
            }
        }
    }
}
.footer {
    height: 75px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    color: #fff;
    background-color: #495057;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        margin-right: 20px;
    }
    img {
        margin-left: 20px;
        width: 60px;
        height: 60px;
    }
    .contact {
        display: flex;
        align-items: center;
        & > * {
            margin-right: 10px;
           
        }
    }
}

